
h1 {
    text-align: center;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    margin: 0 0;
}

#wrapper {
    width: 100px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
}

.button {
    color: rgb(230, 230, 240);
    background: transparent;
    border: 2px solid #30336b;
    padding: 15px 32px; /* padding 값을 조정하여 버튼 크기를 줄임 */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    border-radius: 0;
    cursor: pointer;
    margin: 0 auto; /* 가운데로 배치합니다. */
    transition: 0.3s;

    margin-right: 10px; /* 버튼 사이의 간격을 조절할 수 있습니다. */
}
.button:hover {
    border-color: #999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay.light {
    background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 75px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 400px;
    max-height: 600px; /* 최대 높이 설정 */
    overflow: auto; /* 스크롤바 추가 */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.popup .close:hover {
    opacity: 1;
}
.popup .content {
    max-height: 400px;
    overflow: auto;
}