<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CafeService</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/popup.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="index.html">CafeService</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Login / Signup</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5 background-with-image">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">CafeService</h1>
                        <p class="lead fw-normal text-white-50 mb-4">스페셜한 커피를 위해 끊임없이 노력하고 혁신하는 것. <br>
                            바리스타는 진정한 한 잔의 '완벽한 커피'를 만들기 위해 노력합니다. <br>
                            저희는 그 한잔의 가치를 고객에게 그대로 전달하기 위해 노력합니다. </p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Order Now</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="/login">Login and Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        </div>
    </header>

    <section class="py-5">
        <div class="input-group" style="width: 50%; margin: auto">
            <input type="search" id="searchKeyword" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" onclick="searchStoreAndMenu()">search</button>
        </div>
        <div id="wrapper">
            <p><a button type="button" class="btn btn-secondary" href="#popup1">CREATE CAFE</a></p>
        </div>

<!--        <div id="popup1" class="overlay">-->
<!--            <div class="popup">-->
<!--                <h2>Create Store</h2>-->
<!--                <a class="close" href="#">&times;</a>-->
<!--                <div class="content">-->
<!--                    <form id="createStoreForm">-->
<!--                        <label for="storeName">Store Name:</label>-->
<!--                        <input type="text" id="storeName" name="storeName" required /><br />-->

<!--                        <label for="storeAddress">Store Address:</label>-->
<!--                        <input type="text" id="storeAddress" name="storeAddress" required /><br />-->

<!--                        <label for="information">Information:</label>-->
<!--                        <input type="text" id="information" name="information" required /><br />-->

<!--                        <label for="information">BusinessNumber:</label>-->
<!--                        <input type="text" id="businessNum" name="businessNum" required /><br />-->

<!--                        <input type="submit" value="Create" onclick="createStore()">-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Create Store</h2>
                <a class="close" href="#">×</a>
                <div class="content">
                    <form id="createStoreForm">
                        <label for="storeName">Store Name:</label>
                        <input type="text" id="storeName" name="storeName" placeholder="가게 이름" required /><br />

                        <label for="storeAddress">Store Address:</label>
                        <div id="storeAddress">
                            <input type="text" id="postNum" name="postNum" placeholder="우편번호" required />
                            <input type="text" id="city" name="city" placeholder="시" required />
                            <input type="text" id="district" name="district" placeholder="구" required />
                            <input type="text" id="neighborhood" name="neighborhood" placeholder="동" required />
                        </div><br />

                        <label for="information">Information:</label>
                        <input type="text" id="information" name="information" placeholder="가게 정보" required /><br />

                        <label for="businessNum">BusinessNumber:</label>
                        <input type="text" id="businessNum" name="businessNum" placeholder="사업자 등록 번호" required /><br />

                        <input type="submit" value="Create" onclick="createStore()">
                    </form>
                </div>
            </div>
        </div>



        <div class="container px-5 my-5">
            <span id="searchResultSpan"></span>
            <div class="row gx-5" id="cardBox">
                <!-- 여기에 기본 상점 리스트가 append 됩니다. (id ="cardBox" 기준) -->
                <!-- 여기에 검색 결과 상점 리스트가 위 기본 리스트를 대체하여 (empty) append 됩니다. (id ="cardBox" 기준) -->
            </div>
        </div>
    </section>
</main>
<!-- Footer 부분 생략 -->

<!------------------------------------------------------ index 기본 가게 리스트 지예 ------------------------------------------------------>
<!-- jQuery 스크립트와 Ajax 요청 스크립트 -->
<script>
    // 페이지 로드 후 팝업 높이 자동 조절
    window.addEventListener("load", function () {
        adjustPopupHeight();
    });

    // 팝업 높이 조절 함수
    function adjustPopupHeight() {
        const popup = document.querySelector(".popup");
        const content = document.querySelector(".content");
        const maxHeight = window.innerHeight - 100; // 높이 제한을 조절할 수 있습니다.

        if (content.offsetHeight > maxHeight) {
            popup.style.height = maxHeight + "px";
        }
    }

    // 윈도우 크기 변경 시 팝업 높이 다시 조절
    window.addEventListener("resize", function () {
        adjustPopupHeight();
    });
</script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

<script>
    $(document).ready(function () {
        getAllStores();
    })

    function getAllStores() {
        $.ajax({
            type: "GET",
            url: "/api/stores",
            data: {},
            success: function (response) {
                const stores = response;
                const cardBox = $("#cardBox"); // #cardBox 요소 선택
                console.log(response)
                cardBox.empty();

                for (let i = 0; i < stores.length; i++) {
                    const store = stores[i];
                    const storeName = store["storeName"]
                    // const storeAddress = store["storeAddress"]

                    const postNum = store["postNum"];
                    const city = store["city"];
                    const district = store["district"];
                    const neighborhood = store["neighborhood"];
                    const combinedAddress = `${postNum} ${city} ${district} ${neighborhood}`;

                    const information = store["information"]
                    const businessNum = store["businessNum"]
                    const id = store["id"]; // id 속성 추가

                    // 현재 로우에 카드를 추가합니다.
                    const tempHtml = `
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Hit</div>
                                <a class="text-decoration-none link-dark stretched-link" onclick="redirectToStore(${id})"><h5 class="card-title mb-3">${storeName}</h5></a>
                                <p class="card-text mb-0">${information}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">${combinedAddress}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
                    cardBox.append(tempHtml)

                }
            },
        })
    }

    function redirectToStore(storeId) {
        const restfulUrl = `/stores/${storeId}`;
        window.location.href = restfulUrl;
    }


    function createStore() {
        alert("create button click")
        let storeName = document.getElementById('storeName').value;
        let information = document.getElementById('information').value;
        let businessNum = document.getElementById('businessNum').value;
        let postNum = document.getElementById('postNum').value;
        let city = document.getElementById('city').value;
        let district = document.getElementById('district').value;
        let neighborhood = document.getElementById('neighborhood').value;

        // 쿠키에서 JWT 토큰을 추출합니다.
        let jwtToken = getCookie("Authorization");

        console.log(jwtToken);

        // 사용자의 로그인 상태 확인
        let isLoggedIn = checkLoginStatus();

        // 로그인 상태를 확인하여 리뷰 작성 여부 결정
        if (isLoggedIn) {
            $.ajax({
                url: "/api/stores",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(
                    {storeName: storeName,
                        information: information,
                        businessNum: businessNum,
                        postNum: postNum,
                        city: city,
                        district: district,
                        neighborhood: neighborhood
                    }),
                headers: {
                    "Authorization": jwtToken // JWT 토큰을 "Bearer" 스키마와 함께 추가합니다. -> 백에서 이미 bearer처리중이니 엇ㅂ애기
                }
            })
                .done(function (response) {
                    alert('Store가 등록되었습니다.');
                    window.location.reload(); // 현재 페이지 리로드
                    // window.location.href = '/add-menu'
                    // 필요한 경우 페이지 리다이렉트나 다른 처리를 여기에 추가
                })
                .fail(function (error) {
                    alert('Store 등록에 실패했습니다.');
                });
        } else {
            // 로그인되지 않은 경우 알림 표시
            alert('로그인 후에 Store를 작성할 수 있습니다.');
            window.location.href = '/login';
        }
    }
</script>
<!-------------------------------------------------- REVIEW AUTHORIZATION -------------------------------------------------------->
<script>
    // 사용자의 로그인 상태 여부를 확인하는 함수
    function checkLoginStatus() {
        // 세션 정보나 토큰을 사용하여 로그인 상태를 확인
        // isLoggedIn 변수에 true 또는 false를 설정
        // 예를 들어, 로그인 토큰이 존재하는지 여부를 확인하는 코드 추가
        let jwtToken = getCookie("Authorization");
        return !!jwtToken; // 토큰이 존재하면 true, 그렇지 않으면 false 반환
    }

    // 쿠키에서 특정 이름의 쿠키 값을 추출하는 함수
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            const decodedValue = decodeURIComponent(parts.pop().split(';').shift()).trim(); // 여기서 trim() 추가
            return decodedValue;
        }
    }
</script>
<!------------------------------------------------------ index 검색 후 가게 리스트 인용 ------------------------------------------------------>
<!-- JavaScript 부분 -->
<script>
    function redirectToStore(storeId) {
        const restfulUrl = `/stores/${storeId}`;
        window.location.href = restfulUrl;
    }

    function searchStoreAndMenu() {
        // 검색어 입력란에서 검색어 가져오기
        var keyword = $("#searchKeyword").val();

        // 검색어가 비어있는 경우 처리
        if (!keyword.trim()) {
            alert("검색어를 입력하세요.");
            return;
        }

        // 스팬을 검색 버튼을 누를 때만 보여주기
        const searchResultSpan = $("#searchResultSpan");
        searchResultSpan.text('"'+keyword+'"' + "라는 keyword 검색 결과 가게 리스트 :").show();


        // Ajax 요청 설정
        $.ajax({
            type: "GET",
            url: "/api/search/stores-and-menus",
            data: {
                keyword: keyword
            },
            success: function (response) {
                const stores = response;
                const cardBox = $("#cardBox"); // #cardBox 요소 선택
                cardBox.empty(); // 기존 카드 내용 비우기
                alert(JSON.stringify(response, null, 2));

                for (let i = 0; i < stores.length; i++) {
                    const store = stores[i];
                    const storeName = store["storeName"];
                    // const storeAddress = store["storeAddress"];

                    const postNum = store["postNum"];
                    const city = store["city"];
                    const district = store["district"];
                    const neighborhood = store["neighborhood"];
                    const combinedAddress = `${postNum} ${city} ${district} ${neighborhood}`;

                    const information = store["information"];
                    const id = store["store_id"]; // id 속성 추가

                    // 현재 로우에 카드를 추가합니다.
                    const tempHtml = `
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                                <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Hit</div>
                                <a class="text-decoration-none link-dark stretched-link" onclick="redirectToStore(${id})">
                                <h5 class="card-title mb-3">${storeName}</h5></a>
                                <p class="card-text mb-0">${information}</p>
                                </div>
                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                    <div class="d-flex align-items-end justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                            <div class="small">
                                                <div class="fw-bold">${combinedAddress}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;
                    cardBox.append(tempHtml); // 새로운 카드 추가
                }
            },
            error: function (error) {
                // 검색 요청이 실패한 경우 처리
                console.error("검색 요청 실패:", error);
            }
        });
    }
</script>
</body>
</html>
